{% extends 'base.html.twig' %}
{% block title %}
    Категорії
{% endblock %}
{%  block body %}
    <div class="container">
        <div class="categories">
            <ul>
                {% if page == 'all' %}
                    <li class="current"><a href="{{ path('crowd_founding_categorypage', {page: 'all'}) }}">Всі категорії<span>{{ amountProjects }}</span></a></li>
                    {% for category in categories %}
                        <li><a href="{{ path('crowd_founding_categorypage', {page: category.page}) }}">{{ category.name }}<span>{{ category.projects|length }}</span></a></li>
                    {% endfor %}
                {% else %}
                        <li><a href="{{ path('crowd_founding_categorypage', {page: 'all'}) }}">Всі категорії<span>{{ amountProjects }}</span></a></li>
                    {% set class = 'current' %}
                    {% for category in categories %}
                        {% if category.page != page %}
                            <li><a href="{{ path('crowd_founding_categorypage', {page: category.page}) }}">{{ category.name }}<span>{{ category.projects|length }}</span></a></li>
                        {% else %}
                            <li class="{{ class }}"><a href="{{ path('crowd_founding_categorypage', {page: category.page}) }}">{{ category.name }}<span>{{ category.projects|length }}</span></a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="categories-content">
            <ul class="thumbnail-projects">
                {% for project in projects %}
                    <li class="col-sm-4">
                        <div class="thumbnail thumbnail-project">
                            <div class="project-caption">
                                <img src="{{ asset(project.pathMainPhoto) }}" alt="">
                                <h4>{{ project.name }}</h4>
                                <p>
                                    {{ project.summary }}
                                </p>
                            </div>
                            <div class="thumb-info">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ project.currentSum }}" aria-valuemin="0" aria-valuemax="{{ project.neededSum }}" style="width:{{ project.currentSum / project.neededSum * 100 }}%">
                                        {{ project.currentSum }}/{{ project.neededSum }}
                                    </div>
                                </div>
                                <ul>
                                    <li><p>&#8372;{{ project.currentSum }}</p><p>зібрано</p></li>
                                    <li><p>{{ project.donates|length }}</p><p>доброчинців</p></li>
                                    <li><p>{{ project.endDate|date() - project.createdDate|date() }} днів до</p><p>закінчення</p></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}