<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <title>ProjectON-{% block title %}Головна{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.png') }}" />
        <link href="{{ asset('css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
        <link href="{{ asset('css/style.css') }}" rel='stylesheet' type='text/css' />
        <link href="{{ asset('css/style-responsive.css') }}" rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        {% block stylesheets %}
        {% endblock %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery-ui.main.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/tabs.js') }}"></script>
        {% block javascript %}
        {% endblock %}
    </head>
    <body>
    <div class="container mar-b-0">
        <div class="user-header">
            <ul>
                <li><a href="#">Реєстрація</a></li>
                <li><a href="#">Увійти</a></li>
            </ul>
        </div>
    </div>
    <div class="top-header">
        <div class="container">
            <div class="logo">
                <p>Включи свою ідею</p>
                <h1><a href="{{ path('crowd_founding_homepage') }}">Project<span>ON</span></a></h1>
            </div>
            <div class="top-menu">
                <nav class="cl-effect-1">
                    <span class="menu"><img src="{{ asset('images/menu.png') }}" alt=""/></span>
                    <ul>
                        <li><a href="{{ path('crowd_founding_categorypage') }}"><i class="fa fa-compass"></i> Категорії</a></li>
                        <li><a href="">Про нас</a></li>
                        <li>
                            <form action="" method="post">
                            <input title="Пошук" value="" type="search"/>
                            </form>
                        </li>
                    </ul>
                    <script>
                        $("span.menu").click(function(){
                            $(".top-menu ul").slideToggle("slow" , function(){
                            });
                        });
                    </script>
                </nav>
            </div>
        </div>
    </div>
    {% block body %}

        {% endblock %}
    {% block footer %}
    <div class="footer">
        <div class="container">
            <div class="col-sm-4 mar-b-40">
                <div class="footer-logo">
                    <p>Включи свою ідею</p>
                    <h1><a href="#">Project<span>ON</span></a></h1>
                    <div class="copywrite">
                        <p>© 2017-2018 Всі права захищені</p>
                    </div>
                </div>
                <div class="developers">
                    <h3>Розробники</h3>
                    <nav class="cl-effect-1">
                        <ul>
                            <li><a href="#">Багрій В. - дизайн</a></li>
                            <li><a href="#">Шамуратов О. - програмування</a></li>
                            <li><a href="#">Бровко Д. - програмування</a></li>
                        </ul>
                        <script>
                            $(ul).slideToggle("slow" , function(){
                            });
                        </script>
                    </nav>
                </div>
            </div>
            <div class="col-sm-4 mar-b-40">
                <div class="info">
                    <h3>Інформація</h3>
                    <nav class="cl-effect-1">
                        <ul>
                            <li><a href="#">Як це працює?</a></li>
                            <li><a href="#">Про нас</a></li>
                            <li><a href="#">Політика конфединційності</a></li>
                            <li><a href="#">Питання/Відповідь</a></li>
                        </ul>
                        <script>
                            $(ul).slideToggle("slow" , function(){
                            });
                        </script>
                    </nav>
                </div>
            </div>
            <div class="col-sm-4 mar-b-40">
                <div class="feedback">
                    <h3>Зворотній зв'язок</h3>
                    <form>
                        <input type="text" placeholder="Ім'я">
                        <input type="email" placeholder="Email адреса">
                        <textarea rows="5" placeholder="Повідомлення..."></textarea>
                        <button type="submit">Надіслати</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <script type="text/javascript" src="{{ asset('js/move-top.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    </body>
</html>
